<footer class="flex items-center justify-between flex-wrap bg-blue-900 p-5 mt-10">
    <div class="container mx-auto px-4">
        <p class="text-teal-200">
            Francis Manaig - Codeyani Senior Developer
        </p>
    </div>
</footer>
